html {
  box-sizing: border-box;
  overflow-y: overlay;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Titillium Web', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  color: #3a3a3a;
  background-color: #fdfaef;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

// Primary markup
.main-title {
  visibility: hidden;
  font-size: 0;
}

.countries {
  display: inline-flex;
  width: 500px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.countries__title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 32px;
}

.wrapper {
  position: relative;
  width: 100%;
}

.countries__search-input {
  width: 100%;
  border-radius: 8px;
  border: 2px solid rgb(13, 36, 100);
  padding: 10px 18px;
  font-size: 22px;
  margin-bottom: 24px;
}

.countries__search-input:focus {
  border: 2px solid rgb(3, 104, 104);
  outline: none;
  box-shadow: 2px 2px 4px rgb(204, 204, 204);
}

.countries__btn {
  position: absolute;
  top: 0;
  right: 0;

  padding: 10px 20px;
  font-size: 22px;
  border-radius: 8px;
  border: 2px solid rgb(3, 104, 104);
  cursor: pointer;
  background-color: rgb(7, 165, 165);
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.418), inset -3px -3px 8px rgba(0, 0, 0, 0.418);
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  transform: scale(1);

  transition: background-color 150ms ease-out, transform 150ms ease-out;
}

.countries__btn:hover {
  background-color: rgb(3, 104, 104);
}

.countries__btn:active {
  background-color: rgb(27, 77, 216);
  transform: scale(0.97);
}

.countries__btn:disabled {
  opacity: 0.6;
}

// Countries list
.countries__list {
  list-style: url(../images/earth.svg);
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.countries__item {
  line-height: 1.2;
  padding: 6px 6px;
  margin-bottom: 8px;
  font-size: 26px;
  cursor: pointer;
  fill: currentColor;
  transition: color 150ms ease-out, transform 150ms ease-out;
}

.countries__item:hover {
  color: rgb(3, 104, 104);
  background-color: #fff2d0;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgb(161, 161, 161);
}

.countries__item:active {
  color: rgb(27, 77, 216);
  transform: scale(0.97);
}
// Country item card
.country__card {
  width: 380px;
  padding: 28px 36px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 3px 3px 6px lightgrey;
}

.country__title {
  margin-bottom: 24px;
  font-size: 36px;
}

.country__flag {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  box-shadow: 1px 1px 3px rgb(161, 161, 161);
}

.country__data {
  font-size: 22px;
  font-weight: 600;
}

.country__value {
  font-size: 22px;
}

.country__lang-list {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: inside;
}

.country__lang-item {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1;
}

.icon {
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.count-icon {
  display: inline-block;
  width: 36px;
  height: 22px;
  margin-right: 2px;
}

$icons: 'count0', 'count1', 'count2', 'count3', 'count4', 'count5', 'count6', 'count7', 'count8',
  'count9', 'count10';

@each $countIcon in $icons {
  .#{$countIcon} {
    background-image: url('../images/#{$countIcon}.svg');
  }
}

.fa-poop {
  background-image: url(../images/poop.svg);
}

.fa-like {
  background-image: url(../images/like.svg);
}

.fa-bell {
  background-image: url(../images/bell.svg);
}
